<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Exemplo</title>
</head>
<body>
  <div ng-controller="AppCtrl">
    <div class="container">
      <div class="row mt-5">
        <div class="col-12">
          <form ng-submit="addList($event, entity)">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="name">Nome</label>
                  <input id="name" class="form-control" type="text"
                    placeholder="Digite seu nome..." ng-model="entity.name">
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="date">Data</label>
                  <input id="date" class="form-control" type="date"
                    placeholder="Digite seu nome..." ng-model="entity.date">
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="value">Valor</label>
                  <input id="value" class="form-control" type="number"
                    placeholder="Digite o valor..." step="0.01" ng-model="entity.value">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <button type="submit" class="btn btn-primary btn-block">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <app-table
            v-props-list="list"
            v-props-date-format="dataFormat"
            v-props-value-format="valueFormat"
            v-on-remove="removeItem">
          </app-table>
        </div>
      </div>
      <code>
        <pre style="background-color: #eee; border: 1px solid #000;padding: 1em;">{{ list | json }}</pre>
      </code>
    </div>
  </div>
</body>
</html>
